//Widget
.widget {
    background: $light-blue;
    margin-bottom: $m-size;
}

.widget__message {
    border-bottom: 0.1rem lighten($light-blue, 10%) solid;
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

//Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}

@media(min-width: $desktop-breakpoint) {
    .widget {
        margin-bottom: $xl-size;
    }
}